.additional-product__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $label-color;
  text-transform: uppercase;
}

.additional-product__property {
  font-family: $description-font;
  font-size: 14px;
  line-height: 14px;
  color: $description-color;
}

.additional-product__order {
  font-size: 16px;
}
