.button {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $primary-color;
  background-color: #68b738;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba($primary-color, 0.3);
  }
}
