.page-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
}

.page-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;

  // &:hover,
  // &:focus{
  //   color: rgba($primary-color, 0.6);
  // }

  // &:active{
  //   color: rgba($primary-color, 0.3);
  // }
}

.page-list__link {
  color: $title-color;

  &:hover,
  &:focus{
    color: rgba($title-color, 0.6);
  }

  &:active{
    color: rgba($title-color, 0.3);
  }
}

@media(min-width:$tablet-width){
  .page-list__item {
    font-size: 18px;
    line-height: 24.86px;
  }
}

@media(min-width:$desktop-width){
  .page-list__item {
    line-height: 24.86px;
    color: $primary-color;

    &:hover,
    &:focus{
      color: rgba($primary-color, 0.6);
    }

    &:active{
      color: rgba($primary-color, 0.3);
    }
  }
}
