.page-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page-list__item {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  text-align: center;

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    border-bottom: 1px solid $gray-light;
    bottom: 0;
    left: -20px;
  }
}

.page-list__link {
  color: $title-color;

  &:hover,
  &:focus{
    color: rgba($title-color, 0.6);
  }

  &:active{
    color: rgba($title-color, 0.3);
  }
}

@media(min-width:$tablet-width){
  .page-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 440px;
  }

  .page-list__item {
    font-size: 18px;
    line-height: 24.86px;

    width: auto;

    &::after {
      display: none;
    }
  }

  .page-list__item--active {

    &::after {
      position: absolute;
      display:block;
      content: "";
      border-bottom: 2px solid $green-light;
      bottom: 15px;
      left: 0px;
      width: 100%;
    }
  }
}

@media(min-width:$desktop-width){
  .page-list {
    width: 479px;
  }

  .page-list__item {
    font-size: 20px;
    line-height: 24.86px;
    color: $primary-color;

    &:hover,
    &:focus{
      color: rgba($primary-color, 0.6);
    }

    &:active{
      color: rgba($primary-color, 0.3);
    }
  }
}
