.product-preview__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: $title-color;
  text-transform: uppercase;
}

.product-preview__property {
  font-family: $description-font;
  font-size: 12px;
  line-height: 16px;
  color: $description-color;
}

.product-preview__order {
  font-size: 16px;
}
