.program-properties {
  display: flex;
  flex-direction: column;



  margin-top: 40px;
}

@media(min-width:$tablet-width){
  .program-properties {
    margin-top: 67px;
  }
}

@media(min-width:$desktop-width){
  .program-properties {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
