.program-form__title {
  font-size: 14px;
  line-height: 18px;
  color: $title-color;
}

.program-form__label {
  font-size: 16px;
  line-height: 18px;
  color: $label-color;
}

.program-form__input {
  font-size: 16px;
  line-height: 18px;
  color: $description-color;
}

.program-form__required-legend {
  font-family: $description-font;
  font-size: 14px;
  line-height: 16px;
  color: $description-color;
}
