
body{
  background: url('../img/preview/cat-energy-catalog-mobile.jpg') no-repeat 50% 0;
  background-position: right 50% top -198px;
}

@media(min-width:$tablet-width) {
  body{
    background: url('../img/preview/cat-energy-catalog-tablet.jpg') no-repeat 50% 0;
  }
}

@media(min-width:$desktop-width) {
  body {
    background: url('../img/preview/cat-energy-catalog-desktop.jpg') no-repeat 50% 0;
  }
}


// .main-navigation {
//   width: 100%;

//   // display: flex;
// }

.page-list {
 @include list-reset;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

// .main-navigation {
//   @include visually-hidden;
// }

// @media(min-width:$tablet-width){

//   .main-navigation {
//     @include visually-hidden;
//   }
// }


@media(min-width:$desktop-width){

  // .main-navigation {
  //   @include visually-hidden;
  // }

  .page-list__item {
    line-height: 24.86px;
    color: $primary-color;

    &:hover,
    &:focus{
      color: rgba($primary-color, 0.6);
    }

    &:active{
      color: rgba($primary-color, 0.3);
    }
  }
}

