@mixin description-font {
  font-family: $description-font;
  font-size: 14px;
  line-height: 18px;
  color: $description-color;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin visually-hidden {
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

@mixin wrapper {
  margin: 0 auto;

  @media (min-width: $mobile-width) {
    width: calc(#{$mobile-width} - 20px * 2)
  }

  @media (min-width: $tablet-width) {
    width: calc(#{$tablet-width} - 30px * 2)
  }

  @media (min-width: $desktop-width) {
    width: calc(#{$desktop-width} - 40px * 2)
  }
}

