$primary-font: 'Oswald', 'Arial', sans-serif;
$description-font: 'Arial', sans-serif;

$white: #ffffff;
$white-light: #f2f2f2;
$black: #111111;
$black-light: #222222;
$black-lighter: #444444;

$primary-color: $white;
$block-color: $white-light;
$title-color: $black;
$description-color: $black-lighter;
$label-color: $black-light;
