$primary-font: 'Oswald', 'Arial', sans-serif;
$description-font: 'Arial', sans-serif;
$primary-color: #ffffff;
$block-color: #f2f2f2;
$title-color: #111111;
$description-color: #444444;
$label-color: #222222;

